.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*
.background-enter {
  transform: translate(100%);
}
.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.background-leave {
  transform: translate(0%);
}
.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.switch-wrapper {
  position: relative;
}

/* .switch-wrapper > div {
  position: absolute;
} */

.headerText {
  font-weight: 300;
  font-size: 50px;
  color: #7d7d7d;
}

/*  DASHBOARD STYLING */
.dashboardHeader {
  font-weight: 200;
  font-size: 70px;
  padding-bottom: 20px;
  color: #7d7d7d;
}

.dashboardSummary {
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
  background-color: #3C78D8;
  color: #ffffff;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
  margin-bottom: 30px;
}

.summaryHeader {
  font-weight: 300;
  font-size: 28px;
}

.summaryText {
  font-weight: 400!important;
  font-size: 24px!important;
}

.summaryTrack {
  font-weight: 500!important;
  font-size: 30px;
}

.startTask {
    background-color: #3C78D8;
    color: #fff;
    border: 1px solid transparent;
    border-color: #2e6da4;
    border-radius: 2px;
    height: 75px;
    font-size: 35px;
    font-weight: 600;
    outline: 0;
    // padding-left: 3.5rem;
    // padding-right: 3.5rem;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: all .3s;
    margin-bottom: 15px;
    width: 55%;
}

.startTask:hover {
    background-color: #26a69a;
}

.completionChart {
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
  background-color: white;
  color: #ffffff;
  margin-bottom: 30px;
  padding-bottom: 30px!important;
}

.chartBreakdown {
  font-weight: 300;
  font-size: 34px;
  color: #7d7d7d;
  text-align: center;
  padding-bottom: 10px;
}

.updateChart {
  width: 30%;
  background-color: transparent;
  letter-spacing: .5px;
  transition: all .3s;
  outline: none;
  color: #7d7d7d;
  font-size: 24px;
  border: 1px solid #7d7d7d;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.updateChart:hover {
  background-color: #26a69a;
  color: white;
}

/*  TASK PAGE */
.startTimer {
  background-color: #3C78D8;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 75px;
  font-size: 35px;
  font-weight: 600;
  outline: 0;
  margin-top: 10px;
  letter-spacing: .5px;
  transition: all .3s;
  margin-bottom: 15px;
  width: 35%;
  // border-color: #2e6da4;
  // padding-left: 3.5rem;
  // padding-right: 3.5rem;
  // text-transform: uppercase;
}

.startTimer:hover {
    background-color: #26a69a!important;
}
