.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/*
.background-enter {
  transform: translate(100%);
}
.background-enter.background-enter-active {
  transform: translate(0%);
  transition: transform 1000ms ease-in-out;
}
.background-leave {
  transform: translate(0%);
}
.background-leave.background-leave-active {
  transform: translate(-100%);
  transition: transform 1000ms ease-in-out;
}

.switch-wrapper {
  position: relative;
}

/* .switch-wrapper > div {
  position: absolute;
} */

.modal-content h4 {
  font-size: 46px!important;
  font-weight: 200!important;
}

.modal-footer button {
  float: none!important;
  font-size: 25px;
  margin-bottom: 5px;
}

.modal-footer {
  background-color: rgb(60, 120, 216)!important;
  color: white!important;
}

.modal-close {
  color: white!important;
}

.headerText {
  font-weight: 300;
  font-size: 50px;
  color: #7d7d7d;
}

.headerLogo {
  height: 30px;
  margin-left: 20px;
  margin-top: 15px;
}

.homeButton {
  width: 20%!important;
}

/*  WIZARD STYLING */

.greetingText {
  font-size: 40px!important;
  display: block;
  color: #7d7d7d;
  font-weight: 300;
  padding-bottom: 25px;
}

.wizardFormPage {
  background-color: #3C78D8;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
}

.wizardSelectButton {
  background-color:rgba(40, 96, 144, 1);
  color: #fff;
  font-size: 22px;
  border-radius: 2px;
  outline: 0;
  letter-spacing: .5px;
  transition: all .3s;
  margin-bottom: 15px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  border: 1px solid rgba(0, 0, 0, 0.24);
}

.wizardSelectButton:hover {
  background-color: rgba(40, 96, 144, 0.6);
}

.formTitle {
  font-size: 38px;
  padding-bottom: 15px;
  font-weight: 400;
}

.labelText {
  color: white!important;
  font-size: 24pt!important;
}

.wizardContinueButton {
    background-color: #4881de;
    color: #fff;
    border: 1px solid transparent;
    border-color: #2e6da4;
    border-radius: 2px;
    height: 44px;
    font-size: 24px;
    font-weight: 600;
    outline: 0;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    margin-top: 10px;
    letter-spacing: .5px;
    transition: all .3s;
    margin-bottom: 15px;
    width: 75%;
}

.wizardContinueButton:hover {
    background-color: #26a69a;
}

.trackButton {
  text-decoration: uppercase;
  width: 100%;
  font-size: 24px;
}

.trackButtonDiv {
  padding-bottom: 10px;
}

.greetingText {
  margin-top: 150px;
}

/*  DASHBOARD STYLING */
.dashboardHeader {
  font-weight: 200;
  font-size: 70px;
  padding-bottom: 20px;
  color: #7d7d7d;
}

.dashboardSummary {
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
  background-color: #3C78D8;
  color: #ffffff;
  padding-top: 15px!important;
  padding-bottom: 15px!important;
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
  margin-bottom: 30px;
}

.summaryHeader {
  font-weight: 300;
  font-size: 28px;
}

.summaryText {
  font-weight: 400!important;
  font-size: 24px!important;
}

.summaryTrack {
  font-weight: 500!important;
  font-size: 30px;
}

.startTask {
    background-color: #3C78D8;
    color: #fff;
    border: 1px solid transparent;
    border-color: #2e6da4;
    border-radius: 2px;
    height: 75px;
    font-size: 35px;
    font-weight: 600;
    outline: 0;
    // padding-left: 3.5rem;
    // padding-right: 3.5rem;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: .5px;
    transition: all .3s;
    margin-bottom: 15px;
    width: 55%;
}

.startTask:hover {
    background-color: #26a69a;
}

.completionChart {
  box-shadow: 0px 8px 23px 5px rgba(88, 105, 107, 0.35);
  background-color: white;
  color: #ffffff;
  margin-bottom: 30px;
  padding-bottom: 30px!important;
}

.chartBreakdown {
  font-weight: 300;
  font-size: 34px;
  color: #7d7d7d;
  text-align: center;
  padding-bottom: 10px;
}

.updateChart {
  width: 30%;
  background-color: transparent;
  letter-spacing: .5px;
  transition: all .3s;
  outline: none;
  color: #7d7d7d;
  font-size: 24px;
  border: 1px solid #7d7d7d;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
}

.updateChart:hover {
  background-color: #26a69a;
  color: white;
}

/*  TASK PAGE */
.startTimer {
  background-color: #3C78D8;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 80px;
  font-size: 36px;
  font-weight: 600;
  outline: 0;
  margin-top: 10px;
  letter-spacing: .5px;
  transition: all .3s;
  margin-bottom: 15px;
  width: 40%;
}

.startTimer:hover {
    background-color: #26a69a!important;
}

.finishTask {
  /* backgroundColor: '#3C78D8', width: '25%', fontSize: '36px', height: '80px', marginTop: '40px' */
  background-color: #3C78D8;
  width: 25%;
  font-size: 36px;
  height: 80px;
  margin-top: 40px;
}

@media (max-width: 768px) {
/*  HOME PAGE STYLING */
  .homeDiv {
    margin-top: 45%!important;
  }

  .homeTextDiv,
  .smileyDiv {
    margin-left: 16.6666666667%!important;
    width: 66.6666666667%!important;
    left: auto;
    right: auto;
  }

  .homeText {
      width: 220px!important;
      height: 40px!important;
  }

  .homeButton {
    font-size: 25px!important;
    width: 215px!important;
  }

  .settingsLink {
    display: none!important;
  }

  .headerLogo {
    width: auto;
    margin-left: 0px;
  }

/*  SETUP STYLING */

  .formTitle {
    font-size: 30px!important;
  }

  .labelText {
    font-size: 18pt!important;
  }

  .formDiv {
    width: 50%!important;
  }

  .greetingText {
    margin-top: 16%!important;
    font-size: 35px!important;
  }

  .trackDiv {
    margin-top: 40%
  }

  .trackButton {
    font-size: 20px!important;
  }

  .trackButtonDiv {
    width: 83.3333333333%!important;
    margin-left: 8.3333333333%!important;
  }

  .newTaskDiv {
    margin-top: 0px!important;
  }

  .taskTitle {
    font-size: 35px!important;
  }

  .taskInfo {
    width: 83.3333333333%!important;
    margin-left: 8.3333333333%!important;
  }

  .startTimer {
    width: 75%!important;
  }

  .taskTimer {
    width: 83.3333333333%!important;
    margin-left: 8.3333333333%!important;
    padding-left: 5%!important;
    padding-top: 10px!important
  }

  .react-countdown-clock {
    width: 275px!important;
    height: 275px!important;
  }

  .react-countdown-clock canvas {
    width: 275px!important;
    height: 275px!important;
  }

  .finishTask {
    width: 75%!important;
    margin-top: 30px!important;
  }

/* DASHBOARD STYLING */
  .summaryDiv {
    padding-top: 40px!important;
  }

  .startTask {
    width: auto;
  }

  .dashboardSummary, .completionChart {
    width: 83.3333333333%!important;
    margin-left: 8.3333333333%!important;
  }

  .summaryText {
    font-size: 28px!important;
  }

  .chartBreakdown {
    font-size: 23px!important;
    padding-bottom: 0px!important;
  }

  .updateChart {
    width: 100%!important;
    height: 60px!important;
    margin: 5px 0px 5px 0px!important;
  }

  .completionChart canvas {
    height: 100%!important;
    width: 100%!important;
  }
}
